<header id="header">
  <nav class="site-nav">
    {{ range .Site.Menus.main }}
    {{ $active := or (eq .URL $.RelPermalink) (and (ne .URL "/") (hasPrefix $.RelPermalink .URL)) }}
    <a href="{{ .URL | safeURL }}" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
    {{ end }}
    <button id="dark-mode-toggle" class="dark-mode-toggle" aria-label="Toggle theme">
        <svg width="1.25rem" height="1.25rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
        <path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/>
        </svg>
    </button>
  </nav>
</header>
